.center {
    align-items: center;
    text-align: center;
    background-color: thistle;
    width: 70%;
    padding: 1em;
    margin: auto;
}

.bigText {
    font-size: 3em;
}

button { 
    width: 6em;
    height: 2em;
    font-weight: bold;
    border: 3px solid slategray;
}
test {
    width: auto;
    height: auto;
}