.center {
    align-items: center;
    text-align: center;
    background-color: thistle;
    width: 80%;
    padding: 1em;
    margin: auto;
}

.bigText {
    font-size: 3em;
}

button { 
    width: 6em;
    height: 2em;
    font-weight: bold;
    border: 3px solid slategray;
    border-radius: 6px;
}
